# Build directories
build/*
vendor/local/*

# Temporary files
*.swp
*~
*.o
*.so

# Build products
main/mrswatson
main/mrswatson.exe
source/libMrsWatson.a
test/mrswatsontest

# Test output
test/out/*

# Stuff from various IDE's
*.perspectivev3
*.pbxuser
*.user
*.sdf
*.opensdf
*.suo
cscope.out
projects/Xcode/.idea/workspace.xml
projects/Xcode/.idea/dictionaries/*
projects/Xcode/MrsWatson.xcodeproj/xcuserdata
projects/NetBeans/MrsWatson/nbproject/private/
projects/VisualStudio/ipch/*

# Vim helpers
tags
cscope.out

# CMake
CMakeCache.txt
CMakeFiles
Makefile
Makefile.in
*.cmake
