[submodule "vendor/AudioTestData"]
	path = vendor/AudioTestData
	url = git://github.com/teragonaudio/AudioTestData.git
[submodule "vendor/audiofile"]
	path = vendor/audiofile
	url = git://github.com/teragonaudio/audiofile.git
