# Build products
build/*
MrsWatson.zip
**/Debug/*
**/Release/*

# Temporary files
*.swp
*~
*.o
*.obj
*.so

# Test output
out/*
out.wav

# Stuff from various IDE's
.idea/*
*.xcodeproj
nbproject/*
*.perspectivev3
*.pbxuser
*.user
*.sdf
*.opensdf
*.suo
*.log
*.tlog
*.idb
*.pdb
*.sln
*.vcxproj
*.vcxproj.filters
*.lastbuildstate
*.cbp

# Non-redistributable third-party
vendor/vstsdk2.4/*

# Vim helpers
tags
cscope.out

# CMake
CMakeCache.txt
CMakeScripts/*
**/CMakeScripts/*
CMakeFiles
Makefile
Makefile.in
*.cmake
**/*.dir
