[project]
	description = A command-line VST plugin host
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nik Reiman (nikreiman)
[access "refs/for/refs/*"]
	read = group user/Nik Reiman (nikreiman)
	push = group user/Nik Reiman (nikreiman)
	label-Code-Review = -2..+2 group user/Nik Reiman (nikreiman)
	label-Verified = -1..+1 group user/Nik Reiman (nikreiman)
	rebase = group user/Nik Reiman (nikreiman)
	removeReviewer = group user/Nik Reiman (nikreiman)
	submit = group user/Nik Reiman (nikreiman)
[access "refs/heads/*"]
	read = group user/Nik Reiman (nikreiman)
	create = group user/Nik Reiman (nikreiman)
	push = +force group user/Nik Reiman (nikreiman)
	pushMerge = group user/Nik Reiman (nikreiman)
[access "refs/tags/*"]
	push = +force group user/Nik Reiman (nikreiman)
	pushTag = group user/Nik Reiman (nikreiman)
	pushSignedTag = group user/Nik Reiman (nikreiman)
